body {
    font-family: Poppins;
    background: #10131b;
    user-select: none;
    background-size: 100% 100%;
    }
    [class^="col"] {
        padding: 15px;
        border-radius: 5px;
        font-size: 14px; 
        color: #a3a3a3;
    }
    [class^="row"] {
        padding: 10px;
    }
    [class^="card"] {
        transition: 0.3s;
    }
    h1, h2, h3, h4, h5 {
        background: linear-gradient(125.32deg, #a1c0f2, #cab6f2,#e8a1f2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;
        white-space: nowrap;
        transition: 0.8s;
        margin: 10px 0px 10px 0px;
    }
    h6 {
        color: #788fb4;
    }
    h2 {
        border-right: 2px solid #7c8aa5;
    }
    .logo-container {
       text-align: center;
       background: url("https://dl.dropbox.com/scl/fi/cmenphbq0kufhtwaecbwn/image_search_1702753713097.png?rlkey=382czxpsr1iauhiz6hzktaa1z&");
       background-size: cover;
       box-shadow: 0px 0px 10px #8098ff24;
    }
    .poch {
        background: #242c3d;
        background: url("https://dl.dropbox.com/scl/fi/0ix7rnrgqqek3fqw9yqrn/img_20231215_125816237.jpg?rlkey=bfyytv5yhlbrrsi6aysmnfl5k&");
        background-size: cover;
    }
    .pochh {
        background: #242c3d;
        background: url("https://dl.dropbox.com/scl/fi/qlibbye6871s5lkl0z538/image_search_1702753694499.png?rlkey=qge8duc2pse7g90hyv23d6j9z&");
        background-size: cover;
    }
    @media(min-width: 600px){
        .max {
            max-width: 70%;
        }
        .pad {
            padding-left: 10px;
        }
    }
    .redes {
        text-align: center;
        font-size: 20px;
        color: #99b6e6;
        background: #141822;
        transition: 0.3s;
    }
    .redes:hover {
        background: #1a202c;
        color:#a1c0f2;
        transform: scale(1.04);
    }
    .efect:hover {
        background: #1a202c;
        transform: scale(1.02);
    }
    .fondo {
        background: #141822;
        font-size: 12px;
    }
    .borde {
        border: 1px solid #36435d;
        box-shadow: 0px 0px 5px #95b7ff25;
        color: #a3a3a3;
    }
    .exp {
        background: #141822;
        text-align: center;
    }
    .exp i {
        font-size: 20px;
    }
    .exp p {
        font-size: 10px;
    }
    .exp h5{
        font-size: 16px;
    }
    .foot {
        background: #141822;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
    }
    .tel {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        font-size: 12px; gap: 10px;
    }
    .chica{
        font-size: 8px;
    }
    .centrar{
        text-align: center;
    }
    span {
        font-size: 24px;
    }
    .achicar {
        font-size: 14px;
    }
